DATALAB_PLATFORM_PATH=D:\Data Lab\DataPlatform
# DATA_PLATFORM_STORAGE_ROOT=D:\path\to\diagnostic-data
SCHEDULE_PLATFORM_PATH=D:\Data Lab\SchedulePlatform
# SCHEDULE_PLATFORM_OUTPUT_ROOT=D:\path\to\schedule-analysis-output
